html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mai-editor {
    background: #1e1e1e;
    border-radius: 1em;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
    padding: 1em 0.5em 1em;
    overflow: hidden;
}